<div class="row">
<table class="table table-bordered text-center">
	<thead>
		<tr>
			<th></th>
			<th class="text-center">Track 1</th>
			<th class="text-center">Track 2</th>
		</tr>
	</thead>
	<tbody>
		{{#each agenda}}
		<tr {{#if class}}class="{{class}}"{{/if}}>
			<td>{{time}}</td>
			
			<td {{#if alltracks}}colspan="2"{{/if}}>
				{{{title}}}
				{{#if video}}
					{{video}}
				{{/if}}
			</td>

			{{#if workshop}}		
				<td {{#if workshop.timeslots}}rowspan="{{workshop.timeslots}}"{{/if}}>
					{{{workshop.title}}}
					{{#if workshop.video}}
						{{workshop.video}}
					{{/if}}
				</td>
			{{/if}}{{! workshop}}

		</tr>
		{{/each}}{{! agenda}}
	</tbody>
</table>
</div>