<div class="row">
  <section id="intro" data-speed="4" data-type="background">
    <img id="nodelogo" src="/assets/images/node.svg" alt="node.js" />
    <h1 class="title">Don't node?</h1>
    <h2 class="subtitle">by BarcelonaJS <a href="http://barcelonajs.org"><img class="header-logo" src="/assets/images/logo.png" alt="logo" /></a></h2>
    <div class="mostimportant">
      <span class="when">11. October 2014</span><br />
      <span class="where">Mobile World Centre, C/ de Fontanella, 2, Barcelona</span>
    </div>
    <div class="clearfix intro">
      <div class="col-xs-12 col-sm-4">
        <p></p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p></p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p></p>
      </div>
    </div>
  </section>
</div>

<div class="spacer row">
  <h3 class="text-center register"><a class="btn btn-default btn-lg" href="https://ti.to/barcelonajs/dontnode">Register interest</a></h3>
  <p class="text-right"><i class="fa fa-twitter"></i> @bcnjs / #dontnode</p>
</div>

<section class="intro row">
  <div class="col-xs-12 col-sm-4">
    <p>Organised by BarcelonaJS for the community. Attendance is free, but tickets are required and limited.</p>
  </div>
  <div class="col-xs-12 col-sm-4">
    <p>Organitzat des de BarcelonaJS per a la comunitat. L'entrada és lliure però cal registrar-se per qüestions d'aforament i logística.</p>
  </div>
  <div class="col-xs-12 col-sm-4">
    <p>Organizado desde BarcelonaJS para la comunidad. La entrada es gratuita sin embargo tener un ticket será obligatorio para poder asistir.</p>
  </div>
</section>

<!--
<section class="agenda row">
  <div class="col-xs-12">
    <h3 class="col-sm-offset-1">Agenda</h3>
    <dl class="agenda-list dl-horizontal">
      {{#each agenda}}
      <dt>{{time}}</dt>
      <dd>{{{title}}} <a href="{{video}}"><i class="fa fa-lg fa-vimeo-square"></i></a></dd>
      {{/each}}
    </dl>
  </div>
</section>

<div class="row inforow">
  <h3 class="text-center register"><a class="btn btn-default btn-lg" href="https://ti.to/barcelonajs/dontnode">Register interest</a></h3>
  <p class="text-right"><i class="fa fa-twitter"></i> @bcnjs / #dontnode</p>
</div>

<section class="speakers row">
  <div class="col-xs-12">
    <h3 class="col-sm-offset-1">Speakers</h3>
  </div>
  {{#each speakers}}
  <div class="speaker equal col-xs-12 col-sm-12 col-md-4">
    <div class="speaker-portrait col-xs-6 col-sm-2" style="background-image: url({{portrait}});"></div>
    <div class="speaker-profile">
      <span class="speaker-name">{{name}}</span>
      <p>{{bio}}</p>
      <a href="http://twitter.com/{{twitter}}"><i class="fa fa-twitter"></i> {{twitter}}</a>
    </div>
  </div>
  {{/each}}
</section>
-->

<section class="speaker row">
  <div class="col-xs-12">
    <h3 class="col-sm-offset-1">Call for Papers</h3>
  </div>
  <div class="col-xs-12">
    <div class="typeform-widget" data-url="https://barcelonajs.typeform.com/to/ZkemfK" data-text="Call for Papers" style="width:100%;height:300px;"></div>
    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
  </div>
</section>

<div class="row inforow">
  <h3 class="text-center register"><a class="btn btn-default btn-lg" href="https://ti.to/barcelonajs/dontnode">Register interest</a></h3>
  <p class="text-right"><i class="fa fa-twitter"></i> @bcnjs / #dontnode</p>
</div>

<section class="supporters row">
  <div class="col-xs-12">
    <h3 class="col-sm-offset-1">Supporters</h3>
    {{#each supporters}}
    <div class="supporter col-xs-12 col-sm-4 text-center">
      <a href="{{url}}"><img class="supporter-logo" src="{{logo}}" alt={{name}} /></a>
    </div>
    {{/each}}
  </div>
</section>

<section class="team row">
  <div class="col-xs-12">
    <h3 class="col-sm-offset-1">Team</h3>
  </div>
  {{#each team}}
  <div class="member equal col-xs-12 col-sm-12 col-md-6">
    <div class="member-portrait col-xs-6 col-sm-2" style="background-image: url({{portrait}});"></div>
    <div class="member-profile">
      <span class="member-name">{{name}}</span>
      <p>{{bio}}</p>
      <a href="http://twitter.com/{{twitter}}"><i class="fa fa-twitter"></i> {{twitter}}</a>
    </div>
  </div>
  {{/each}}
</section>

<section class="meta row">
  <div class="col-xs-12 text-center">
    <h4>A BarcelonaJS event. <a href="http://barcelonajs.org/code">Code of Conduct</a></h4>
  </div>
</section>
