<div class="row">
  <section id="intro" data-speed="4" data-type="background">
    <h1 class="title"><span>Don't node?<br />We node!</span></h1>
    <div class="mostimportant">
      <span class="when">4. October 2014</span>
      <br />
      <span class="where">Mobile World Centre, C/ de Fontanella, 2, Barcelona</span>
    </div>
    <div class="clearfix intro">
      <div class="col-xs-12 col-sm-4">
        <p>WeNode – a one-day not-for-profit conference about node.js, server-side and embedded JavaScript technologies.</p>
        <p>A full day packed with talks and workshops; all about our favorite programming language: JavaScript. Beginners and experts, hackers and ninjas are all invited to join us to a day of node.</p>
        <p>Organised by BarcelonaJS for the community.</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p>WeNode – una conferencia de un día sin animo de lucro sobre tecnologías node.js, server-side y embedded Javascript.</p>
        <p>Un día completo lleno de charlas y talleres; todo acerca tu lenguaje favorito de programación: Javascript. Principiantes y expertos, hackers y ninjas, estáis todos invitados a uniros a nosotros en un día de node.</p>
        <p>Organitzat des de BarcelonaJS per a la comunitat.</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p>WeNode – una conferencia d'un dia sense anim de lucre sobre node.js, i tecnologies server-side i embedded Javascript.</p>
        <p>Un dia complet de xerrades i tallers; tot sobre el teu llenguatge favorit de programació: Javascript. Principiants i experts, hackers i ninjas, tots sou convidats a unir-vos a nosaltres en un dia de node.</p>
        <p>Organizado desde BarcelonaJS para la comunidad.</p>
      </div>
    </div>
  </section>
</div>

<div class="spacer row">
  <h3 class="text-center register"><a class="btn btn-default btn-lg" href="http://tickets.barcelonajs.org">Buy your ticket</a></h3>
  <p class="text-right"><i class="fa fa-twitter"></i> @bcnjs / #wenode</p>
</div>

<a name="speakers"></a>
<section class="speakers row">
  <div class="col-xs-12">
    <h3 class="col-sm-offset-1">Speakers</h3>
  </div>
  {{#each speakers}}
  <div class="member col-xs-12 col-sm-6 col-md-3">
    <a href="/speaker/{{slug}}.html">
      <div class="hexagon member-portrait" style="background-image: url({{portrait}});">
        <div class="hexTop"></div>
        <div class="hexBottom"></div>
      </div>
    </a>
    <div class="member-profile text-center">
      <span class="member-name">{{name}}</span>
      <br />
      <i class="fa fa-twitter"></i>  <a href="http://twitter.com/{{twitter}}">{{twitter}}</a>
    </div>
  </div>
  {{/each}}
</section>

<div class="row spacer">
  <h3 class="text-center register"><a class="btn btn-default btn-lg" href="http://tickets.barcelonajs.org">Buy your ticket</a></h3>
  <p class="text-right"><i class="fa fa-twitter"></i> @bcnjs / #wenode</p>
</div>

<a name="agenda"></a>
<section class="agenda row">
  <div class="col-xs-12">
    <h3 class="col-sm-offset-1">Agenda</h3>
    <div class="row">
      <table class="table table-bordered table-responsive text-center">
        <thead>
          <tr>
            <th class="col-xs-2"></th>
            <th class="col-xs-5 text-center">Track 1</th>
            <th class="col-xs-5 text-center">Track 2</th>
          </tr>
        </thead>
        <tbody>
          {{#each agenda}}
          <tr {{#if class}}class="{{class}}" {{/if}}>
            <td>{{time}}</td>

            <td {{#if alltracks}}colspan="2" {{/if}}>
              {{{title}}} {{#if video}} {{video}} {{/if}}
            </td>

            {{#if workshop}}
            <td {{#if workshop.timeslots}}rowspan="{{workshop.timeslots}}" style="vertical-align:middle;" {{/if}}>
              {{{workshop.title}}} {{#if workshop.video}} {{workshop.video}} {{/if}}
            </td>
            {{/if}}{{! workshop}}

          </tr>
          {{/each}}{{! agenda}}
        </tbody>
      </table>
    </div>
  </div>
</section>

<div class="row spacer">
  <h3 class="text-center register"><a class="btn btn-default btn-lg" href="http://tickets.barcelonajs.org">Buy your ticket</a></h3>
  <p class="text-right"><i class="fa fa-twitter"></i> @bcnjs / #wenode</p>
</div>

<a name="supporters"></a>
<section class="supporters row">
  <div class="col-xs-12">
    <h3 class="col-sm-offset-1">Supporters</h3>
    {{#each supporters}}
    <div class="supporter col-xs-12 col-sm-4 text-center">
      <a href="{{url}}">
        <img class="supporter-logo" src="{{logo}}" alt={{name}} />
      </a>
    </div>
    {{/each}}
  </div>
</section>

<a name="team"></a>
<section class="team row">
  <div class="col-xs-12">
    <h3 class="col-sm-offset-1">Team</h3>
  </div>
  {{#each team}}
  <div class="member col-xs-12 col-sm-6 col-md-3">
    <div class="hexagon member-portrait" style="background-image: url({{portrait}});">
      <div class="hexTop"></div>
      <div class="hexBottom"></div>
    </div>
    <div class="member-profile text-center">
      <span class="member-name">{{name}}</span>
      <br />
      <i class="fa fa-twitter"></i>  <a href="http://twitter.com/{{twitter}}">{{twitter}}</a>
    </div>
  </div>
  {{/each}}
</section>

<section class="meta row">
  <div class="col-xs-12 text-center">
    <h4>A BarcelonaJS event. <a href="http://barcelonajs.org/code">Code of Conduct</a></h4>
    <a href="http://barcelonajs.org"><img class="header-logo" src="/assets/images/logo.png" alt="logo" /></a>
  </div>
</section>
