{{! agenda }}
<section id="agenda">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="col-sm-offset-1">Agenda</h3>
      </div>
    </div>

    <div class="row">
      <table class="agenda-table">
        {{!-- 
        <thead>
          <tr>
            <th class="col-xs-2"></th>
            <th class="col-xs-5 text-center">Track 1</th>
            <th class="col-xs-5 text-center">Track 2</th>
          </tr>
        </thead>
        --}}
        <tbody class="agenda-body">

          {{#each agenda}}
          <tr class="agenda-row {{class}}">
            <td class="agenda-time">{{time}}</td>

            <td class="agenda-talk" {{#if alltracks}}colspan="2" {{/if}}>
              {{#if speaker}}<a href="speaker/{{slugify speaker}}.html">{{/if}}
                <div class="agenda-title">{{{title}}}</div>
                <div class="agenda-speaker">{{speaker}}</div>
              {{#if speaker}}</a>{{/if}}
              {{#if video}} {{video}} {{/if}}
            </td>

            {{#if alttrack}}
            <td class="agenda-alttrack" {{#if alttrack.timeslots}}rowspan="{{alttrack.timeslots}}" {{/if}}>
              {{#if alttrack.speaker}}<a href="speaker/{{slugify alttrack.speaker}}.html">{{/if}}
                <div class="agenda-title">{{{alttrack.title}}}</div>
                <div class="agenda-speaker">{{alttrack.speaker}}</div>
              {{#if alttrack.speaker}}</a>{{/if}}
              {{#if alttrack.video}} {{alttrack.video}} {{/if}}
            </td>
            {{/if}}{{! alttrack}}

          </tr>
          {{/each}}{{! agenda}}

        </tbody>
      </table>
    </div>
  </div>
  
  <br>

</section>