<div class="supporters-small">
  {{#each sponsors}}
    {{#each list}}
      <a href="{{url}}?utm_source=wenode&utm_medium=sponsor&utm_campaign=barcelonajs" target="_blank" data-sponsor="{{name}}">
        <img class="" src="{{logo}}" alt="{{name}}" />
      </a>
    {{/each}}
  {{/each}}
  {{#each supporters}}
  <a href="{{url}}?utm_source=wenode&utm_medium=supporter&utm_campaign=barcelonajs" target="_blank" data-supporter="{{name}}">
    <img class="" src="{{logo}}" alt="{{name}}" />
  </a>
  {{/each}}
</div>
